<div class="workout-index-wrapper">
  <div class="container workout-index-container">
    <h1>ワークアウト内容を確認する</h1>
    <!--日別確認ページへのリンク-->
    <div class="col-md-offset-2 col-md-4">
      <%= link_to '日別で確認する', workouts_diary_path , class: 'btn btn-block btn-blue' %>
    </div>
      <!--種目別確認ページへのリンク-->
    <div class="col-md-4">
      <%= link_to '種目別で確認する', workouts_chart_path ,class: 'btn btn-block btn-blue' %>
    </div>
  </div>
</div>