<div class="new-workout-wrapper">
  <div class="container new-workout-container">
    <div class="row">
      <h1 class="text">ワークアウトを記録する</h1>
      <%= form_for @workout do |f| %>
        
      
      
      <% end %>  
    </div>
  </div>
</div>