<div class="home-hero-wrapper text-center">
  <div class="container home-hero-container">
    <h1 class="text">Welcome to WoRec</h1>
    <h2 class="text">WoRecは日々のワークアウトの内容を記録するアプリケーションです</h2>
    <div class="row">
      <div class="col-md-offset-3 col-md-3">
        <%= link_to '新規登録', new_users_path , class: 'btn btn-block btn-blue' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'ログイン', login_path ,class: 'btn btn-block btn-blue' %>
      </div>
    </div>
  </div>
</div>