<div class="home-hero-wrapper text-center">
  <div class="container home-hero-container">
    <h1 class="text-white">Welcome to Worec</h1>
    <h2 class="text-white">Worecはトレーニング記録サービスです</h2>
    <div class="row">
      <div class="col-md-offset-3 col-md-3">
        <%= link_to '新規登録', '#', class: 'btn btn-block btn-white' %>
      </div>
      <div class="col-md-3">
        <%= link_to 'ログイン', '#' ,class: 'btn btn-block btn-white' %>
      </div>
    </div>
  </div>
</div>