


.text {
  color: #aaffff;
}



.btn-blue {
  color: #aaffff;
  border: 3px solid #aaffff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);
  
  &:hover {
    color: #00FFFF;
  }
}

.home-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background: image-url('home.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  margin-top: -20px;
}

.home-hero-container {
  padding-top: 200px;
  
  h1 {
    font-size: 60px;
    margin-bottom: 30px;
    font-weight: 900;
  }
  
  h2 {
    margin-bottom: 60px;
    font-weight: 400;
  }
}

 
