.form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  margin-top: -20px;
  
  .users-new-container {
    padding-top: 200px;
    
    .form-group {
      margin-bottom: 20px;
    }
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.error_messages {
  font-size: 20px;
  color: red;
}

ul {
  list-style: none;
}

.users-mypage-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  margin-top: -20px;
}

.mypage-container {
  padding-top: 150px;
}

.mypage-container h1{
  text-align: center;
  font-size: 40px;
  color: #fff;
  padding-bottom: 20px;
}