
.workout-new-wrapper {
  width: 100vw;
  height: 100vh;
  background: image-url('');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  margin-top: -20px;
}

.workout-new-container {
  padding-top: 100px;
  
  h1 {
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 900;
    text-align: center;
  }
}

.date-form{
  
  .date-label {
    color: #fff;
 }
 
}

.exercise-form {
  margin-top: 20px;
  
  .exercise-label {
    color: #fff;
  }
}