
.workout-new-wrapper, {
  width: 100vw;
  height: 100vw;
  background: image-url('');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  margin-top: -20px;
}

.workout-index-wrapper {
  width: 100vw;
  height: 100%;
  background: image-url('');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  margin-top: -20px;
}



.workout-new-container,.workout-index-container {
  padding-top: 100px;
  height: 2000px;
  
  h1 {
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 900;
    text-align: center;
  }
}

.label {
  color: #fff;
}


.exercise-form {
  margin-top: 20px;
}

.set-form, .weight-form, .rep-form {
  margin-top: 20px;
  margin-left: 10px;
  width: 100px;
}

.note-label {
  color: #fff;
  font-size: 10px; 
  margin-left: 8px;
}

.note-form {
  margin-top: 20px;
  margin-left: 15px;
  width: 210px;
}

.workout-index {
  color: #fff;
  border: 3px solid #fff;
  padding: 10px;
  font-size: 20px;
}  


