
.workout-new-wrapper,.workout-diary-wrapper,.workout-chart-wrapper {
  width: 100vw;
  height: 200vw;
  background: image-url('');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  margin-top: -20px;
}

.workout-index-wrapper {
  width: 100vw;
  height: 100%;
  background: image-url('');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  margin-top: -20px;
}



.workout-new-container,.workout-diary-container, .workout-chart-container{
  padding-top: 100px;
  height: 2000px;
  
  h1, {
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 900;
    color: #fff;
    text-align: center;
  }
  
  h3 {
    font-size: 35px;
    margin-bottom: 30px;
    font-weight: 900;
    color: #fff;
    text-align: center;
  }
  
}

.workout-index-container {
  padding-top: 150px;
  height: 2000px;
  
  h1 {
    font-size: 50px;
    margin-bottom: 50px;
    font-weight: 900;
    text-align: center;
    color: #fff;
  }
}


.label {
  color: #fff;
}


.exercise-form {
  margin-top: 20px;
}

.set-form, .weight-form, .rep-form {
  margin-top: 20px;
  margin-left: 10px;
  width: 100px;
}

.note-label {
  color: #fff;
  font-size: 10px; 
  margin-left: 8px;
}

.note-form {
  margin-top: 20px;
  margin-left: 15px;
  width: 210px;
}

.workout-exercise {
  width: 1100px;
  color: #fff;
  border: 3px solid #fff;
  padding: 10px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}


.workout-menu {
  color: #fff;
  border: 3px solid #fff;
  padding: 10px;
  font-size: 20px;
}  


